@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */

header {
    background-color: lightgray;
    color: black;
    padding: 8px 20px;
	display: flex;
    align-items: center;
	justify-content: space-between;
	word-spacing: 10px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}


body {
	background-color: #FFEFD5;
}

.swiper {
	width: 600px;
	height: 300px;
  }

.section1 {
    padding-left: 200px;
	padding-right: 200px;
	line-height: 40px;
}

h2 {
	font-size: 22px;
}

nav { display: none; }

.nav-open {
	color: black;
	font-size: 20px;
	background: #FFC7AF;
	position: relative;
}

.nav-open::before {
	content: "＋";
	position: absolute;
	right: 20px;
}

.nav-open.active::before {
	content: "－";
}

.section2 {
margin-left: 200px;
margin-right: 200px;
margin-top: 50px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

.div2 {
   margin-top: 10px;
   margin-bottom: 25px;
}

.div2 img {
	float: left;
	margin-right: 10px;
}

.div2::after {
  content: "";
  display: block;
  clear: both;
}

.information {
	margin: 10px 200px 10px 200px;
	background-color: black;
	color: white;
	padding: 10px 0px 150px 10px;
}

.information img {
	float: right;
	margin: 10px 10px 10px 10px;
}

h5 {
    font-size: 20px;
	font-weight: bold;
	line-height: 3;
}

h6 {
	text-align: center;
	font-size: 20px;
}

.store_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 200px 10px 200px;
}

.store_list img {
    width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 80%;
}

figcaption {
	text-align: center;
	font-size: 12px;
}

footer {
	color: black;
	background-color: darkgray;
	padding: 15px 300px 25px 300px;
	display: flex;
	justify-content: center;
}